.navbar {
    position: fixed; /* Hace que la navbar se mantenga en su lugar */
    top: 0; /* La coloca en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

body, html {
    padding-top: 20px;
    margin: 0;
    margin-bottom: 15px;
    height: 100%;
    cursor: url("./images/cursor.png"), auto;
    background-color: color-mix(in srgb-linear, slategrey 40%, black 60%) ;
}

.container-fluid {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.text-center {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: aliceblue;
    margin: 25px auto;
}

.table img {
    transition: transform 0.3s ease, opacity 0.5s ease; /* Transiciones para el escalado y el desvanecimiento */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 0.5s forwards; /* Aplica la animación de desvanecimiento */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Termina visible */
    }
}

.table img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}