.navbar {
    position: fixed; /* Hace que la navbar se mantenga en su lugar */
    top: 0; /* La coloca en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

body, html {
    margin: 0;
    margin-bottom: 50px;
    padding-top: 20px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: url("./images/cursor.png"), auto;
    background-color: color-mix(in srgb-linear, slategrey 40%, black 60%) ;
}

.text-center {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: aliceblue;
    margin: 30px auto;
}
/* Sección de Contáctanos */
.contact-container {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.contact-container h4 {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 15px;
}

.form-label {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #000000;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #2d2b2b;
}

.btn {
    background-color: #1f2020;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #121517;
}

/* Redes sociales */
.list-inline a {
    text-decoration: none;
    color: #457b9d;
    transition: color 0.3s ease;
}

.list-inline a:hover {
    color: #1d3557;
}
